<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>MemeLodge</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <nav>
        <p class = "centered-y">MemeLodge</p>
    </nav>
    <aside>
        <form id = "login-form">
            <input type="text" placeholder = "Username">
            <input type="password" placeholder = "Password">
            <button id = "signin">Sign In</button>
            <button id = "signup">/Up</button>
        </form>
        
    </aside>
    
    <main>
        Content
    </main>

</body>
</html>