<link rel="stylesheet" href="/css/frontpage.css">



<main>
    <form id = "create-post" >
            <h2>Create a Post</h2>
            <input type="text" placeholder = "Title">
            <input type="text" placeholder = "Body">
            <input type="text" placeholder = "Genre">
            <input type="text" placeholder = "Tags">
            <button id = "submit-post">Submit</button>
        </form>
</main>

<script src="/js/frontpage.js"></script>
