<link rel="stylesheet" href="/css/frontpage.css">

<main>
    
    <h2 id = "frontpage-title">Front Page</h2>


    <!--Actual <select> element, stylized for mobile-->
    <select id="genres">
        <option selected = "true" disabled = "true">Select Genre</option>
        <option value = "all">All</option>
        <option value = "gaming">Gaming</option>
        <option value = "literature">Literature</option>
        <option value = "music">Music</option>
        <option value = "comedy">Comedy</option>
        <option value = "programming">Programming</option>
        <option value = "animals">Animals</option>
        <option value = "film">Film</option>
        <option value = "tv">TV</option>
        <option value = "art">Art</option>
        <option value = "politics">Politics</option>
    </select>
    
    <br><br>
   
    <div id="posts">

    </div>
</main>

<script src="/js/frontpage.js"></script>
