<link rel="stylesheet" href="/css/landing.css">
<main>
    <article>
        <h1>Welcome to MemeLodge!</h1>
        <br>
        <p>
            MemeLodge is a wonderful place for memes, information, 
            and divisive political discourse! This is a mockup for a social media
            website complete with upvotes, downvotes, ratios, genres, tags, and comments!
            We here at MemeLodge thought to not allow comments, but decided it'd be good
            experience. So, sorry in advance.
        </p>
        <br>
        <p>
            If you want to post a neat image you found or even tell everybody about your
            opinions (scandalous!), then MemeLodge is the place for you! You don't need
            an account to look, but you do need one to post, comment, and vote. 
        </p>
        <br>
        <p>
            On mobile, the genre filters are located under the "f" button at the bottom of the screen.
            All you need to do is click on the circle beneath "Select Genre."
        </p>
        <br>
        <a href="/frontpage/all">Get Started!</a>
       
    </article>
</main>
