<link rel="stylesheet" href="/css/post.css">
<main>
    <article>
        <header>
            <p id="genre"></p>
            <div id="t-and-a">
                <h3 id = "title"></h3>
                <p id = "author"></p>
            </div>
            
        </header>

        <hr>

        <p id="body"></p>

        <hr>

        <div id="tags">

        </div>
    </article>
    
    {{#if userId}}
        <form id="comment-form">
            <textarea id="comment-body" placeholder = "Comment..."></textarea>

            <button id = "submit-comment">Submit</button>
        </form>
    {{/if}}

    <section id = "comments">

    </section>
</main>

<script src="/js/postPage.js"></script>