<link rel="stylesheet" href="/css/post.css">
<main>
    <article>
        <header>
            <p id="genre"></p>
            <div id="t-and-a">
                <h3 id = "title"></h3>
                <p id = "author"></p>
            </div>
            <div class="bottom-right" id = "times">
                <p id="time-elapsed"></p>
                <p id="date"></p>
            </div>
            
        </header>

        <hr>

        <p id="body"></p>

        <hr>

        <div id="tags">

        </div>
        <div id="points">
            <p id = "votes"></p>
            <p id="ratio"></p>
            <span id = "ratio-gradient"></span>
            {{#if userId}}
            <div class = "div-button" id="upvote">
                <p>▲</p>
            </div>
            
            <div class = "div-button" id="downvote">
                <p>▼</p>
            </div>
            {{/if}}
        </div>
        
    </article>
    <br>
    {{#if userId}}
        <form id="comment-form">
            <textarea id="comment-body" placeholder = "Comment..."></textarea>
            
            <button id = "submit-comment">Submit</button>
        </form>
    {{/if}}

    <section id = "comments">

    </section>
</main>

<script src="/js/postPage.js"></script>