<link rel="stylesheet" href="/css/post.css">
<main>
    <article>
        <header>
            <h2 id = "title"></h2>
            <p id="genre"></p>
            <em><p id = "author"></p></em>
        </header>

        <hr>

        <p id="body"></p>

        <hr>

        <div id="tags">

        </div>
    </article>

    <section>

    </section>
</main>

<script src="/js/postPage.js"></script>