<link rel="stylesheet" href="/css/settings.css">
<main>
    <h3>Account Settings</h3>
    <hr>
    <header>
        <h3>{{username}}</h3>
        <div class="div-button" id = "delete-account">
            <p>🗑</p>
        </div>
    
    </header>

    <div id="themes">
            <p>Themes</p>
            <button>Forest</button>
            <button>Ruby</button>
            <button>Ocean</button>
    </div>
    
    <hr>
    <div id = "toggle-my-posts">
        <p>My Posts</p>
        <button><</button>
    </div>
    <section id = "my-posts">

    </section>

    <div id = "toggle-my-comments">
        <p>My Comments</p>
        <button><</button>
    </div>

    <section id="my-comments">

    </section>
</main>


<script src="/js/settings.js"></script>