<link rel="stylesheet" href="/css/settings.css">
<main>
    <h3>Account Settings</h3>
    <hr>
    <form id = "account-form">
        <input type="text" id = "account-name" placeholder = {{username}}>
    </form>
    
    <hr>
    <p>My Posts</p>
    <br>
    <section id = "my-posts">

    </section>
</main>


<script src="/js/settings.js"></script>