main {
    text-align:center;
}

#search-box {
    display: block;
}

#filters {
    display: block;
    margin-top: 5px;
    width: 100%;
    background: inherit;
    z-index: 10;
    padding: 5px;
}

#genre-picker {
    display: none;
}

#filters > * {
    max-width: 100%;
}

#frontpage-title {
    margin-bottom: 10px;
}

#genre-select {
    border: var(--layer3) solid 2px;
    padding: 5px;
    background: var(--layer0);
    border-radius: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    z-index: 15;
}

#genre-select:hover {
    border-color: var(--highlight);
}

#genres {
    display: none;
    position: absolute;
    text-align: left;
    top: 108%;
    left: 0;
    width: 100%;
    z-index: 14;
    background: var(--layer0);
}

#genres a {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

#genres a:hover {
    background: var(--layer4);
}

#tag-picker {
    background: var(--layer0);
    border: none;
    color: inherit;
    border-bottom: var(--highlight) solid 1px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#filter-tags {
    border-radius: 15px;
    border: var(--layer3) solid 2px;
    background: var(--layer0);
    padding: 2px 14px;
    font-size: inherit;
    color: inherit;
}

#tags-box:hover .detail {
    display: block;
}

.post {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 90%;
    text-align:left;
    background: var(--layer1);
    background-size: 100%;
    
    border: var(--layer1) solid 2px;
    margin-bottom: 10px;
}

.post:hover {
    border-color: var(--layer4);
}
.post-title {
    font-size: 20px;
    width: 65%;
}

.post-author {
    opacity: .75;
    margin-top: 10px;
}

.post-rightside {
    font-style: italic;
    top: 10px;
    font-size: 14px;
    opacity: .65;
    position: absolute;
    
    right: 10px;
    text-align:right;
    width: 35%;
}

#genre-picker-box {
    display:none;
}


@media only screen and (max-width: 400px) {
    
    #genre-picker-box {
        display: block;
    }

    #genre-picker, #tag-picker, #filter-tags {
        font-size: 16px;
    }

    #genre-picker {
        cursor: pointer;
        -webkit-appearance: none;
        font-size: 20px;
        padding: 10px;
        text-align:center;
        color: var(--layer1);
        width:50px;
        height: 50px;
        display: block;
        margin: 0 auto 10px auto;
        border: var(--highlight) solid 2px;
        border-radius: 50px;
        background: inherit;
        box-shadow: inset 0 0px 10px var(--layer3);
    }

    #genre-picker option:checked {
        color: var(--text-color);
    }

    #genre-select {
        display: none;
    }

    #filters {
        display: none;
        top: initial;
        position: fixed;
        background: var(--layer1);
        bottom: 70px;
        height: initial;
        transform: none;
        font-size: 18px;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
        left: 50%;
        border-top: var(--layer4) solid 2px;
        box-shadow: 0 -10px 20px black;
    }

    #filters p {
        margin-bottom: 10px;
    }

    #genres {
        display: none;
        text-align:center;
        top: initial;
        bottom: 108%;
        width: 80%;
        transform: translateX(-50%);
        left: 50%;
        box-shadow: 0 0 20px black;
        border-left: var(--highlight) solid 2px;
        border-right: var(--highlight) solid 2px;
    }

    #genres a {
        font-size: 20px;
        background: var(--layer4);
    }

    #tag-picker {
        font-size: 18px;
    }

    #toggle-filters {
        display: inline-block;
    }

    #tag-picker {
        width: 60%;
    }

    #filter-tags {
        width: 30%;
    }

    #tags-box:hover .detail {
        display: none;
    }
}