main {
    text-align:center;
}

.post {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 90%;
    text-align:left;
    background: var(--layer1);
    margin-bottom: 10px;
}
.post-title {
    width: 85%;
}

.post-genre {
    font-style: italic;
    opacity: .65;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:right;
    top: 10px;
    font-size: 14px;
    right: 10px;
    width: 15%;
}

/* .post-author {
    position: absolute;
    top: 10px;
    left:10px;
} */