article {
    position: relative;
    border-bottom: var(--layer2) 2px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

header {
    position: relative;
    max-width: 600px;
    min-height: 60px;
    margin: 0 auto;
    overflow-y: hidden;
}

#t-and-a {
    position: absolute;
    left: 0;
    top: 0;
    right: 100px;
    height: 100%;
}

#title {
    color: var(--highlight);
    text-overflow: ellipsis;
}

#genre {
    font-style: italic;
    position: absolute;
    opacity: .5;
    top: 0px;
    max-width: 100px;
    right: 0px;
}

#body {
    padding: 5px;
    max-width: 550px;
    margin: 0 auto;
    line-height: 1.5em;
    color: var(--body-text);
}

#author {

    opacity: .50;
}

#tags {
    padding: 8px;
    text-align:center;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    background: var(--layer1);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tag {
    cursor: pointer;
    display: inline-block;
    background: var(--layer2);
    padding: 2px 4px;
    margin: 2px;
    border-radius: 4px;
}