header {
    position: relative;
    height: 50px;
}

header > * {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
#delete-account {
    position: absolute;
    right: 5px;
    font-size: 28px;
   
}

.my-post, .my-comment {
    position: relative;
    background: var(--layer1);
    display: inline-block;
    color: inherit;
    padding: 10px;
    width: 90%;
   
    margin-bottom: 10px;
}

#toggle-my-posts, #toggle-my-comments {
    width: 100%;
    background: var(--layer2);
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#toggle-my-posts > *, #toggle-my-comments > * {
    display: inline-block;
}

#toggle-my-posts p, #toggle-my-comments p{
    width: 80%;
}

#toggle-my-posts button, #toggle-my-comments button{
    width: initial;
    background: inherit;
    color: inherit;
    border: none;
    transition: transform .15s;
}


#my-posts, #my-comments {
    display: none;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    color: var(--body-text);
    text-align:left;
    margin-bottom: 10px;
}

.my-post-title{
    resize: none;
    font-family: inherit;
    color: var(--highlight);
    /* height:initial; */
    font-size: 24px;
    width: 100%;
    background: inherit;
    border: none;
}

.my-post-title::placeholder {
    color: var(--highlight);
}

.my-post-body, .my-comment textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5em;
    display:inline-block;
    width: 100%;
    height: 150px;
    resize: none;
    background: inherit;
    color: var(--body-text);
}

.my-tag {
    display: inline-block;
    padding: 2px 0px 2px 10px;
    background: var(--layer2);
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.delete-tag {
    cursor: pointer;
    height: 100%;
    display: inline-block;
    background: var(--layer0);
    margin-left: 5px;
    padding: 5px 10px;
    text-align:center;
}

.delete-post, .delete-comment {
    cursor: pointer;
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    background:var(--layer2);
    color:inherit;
    border-bottom-left-radius: 10px;
    font-size: 24px;
}

/* .my-comment {
    position: relative;
    padding: 5px;
    background: var(--layer1);
} */

/* .my-comment textarea {
    min-height: 1em;
    height: initial;
} */

.my-comment p {
    padding: 10px 0px;
    text-align:left;
    white-space: pre-wrap;
}
